<div class="section">

    <div class="container" >

        <div class="row">

            <div class="col-md-3">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio " src="http://placehold.it/700x450/000000/?text=Aries">
                </a>
            </div>
            <div class="col-md-3">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio  " src="http://placehold.it/700x450/000000/?text=Taurus">
                </a>
            </div>
            <div class="col-md-3">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio  " src="http://placehold.it/700x450/000000/?text=Gemini">
                </a>
            </div>
            <div class="col-md-3">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio  " src="http://placehold.it/700x450/000000/?text=Cancer">
                </a>
            </div>
            <div class="col-md-3">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio " src="http://placehold.it/700x450/000000/?text=Leo">
                </a>
            </div>
            <div class="col-md-3">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio  " src="http://placehold.it/700x450/000000/?text=Virgo">
                </a>
            </div>
            <div class="col-md-3">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio  " src="http://placehold.it/700x450/000000/?text=Libra">
                </a>
            </div>
            <div class="col-md-3">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio  " src="http://placehold.it/700x450/000000/?text=Scorpio">
                </a>
            </div>
            <div class="col-md-3">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio  " src="http://placehold.it/700x450/000000/?text=Saggitarius">
                </a>
            </div>
            <div class="col-md-3">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio  " src="http://placehold.it/700x450/000000/?text=Aguarius">
                </a>
            </div>
            <div class="col-md-3">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio  " src="http://placehold.it/700x450/000000/?text=Pisces">
                </a>
            </div>
            <div class="col-md-3">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio  " src="http://placehold.it/700x450/000000/?text=Aries">
                </a>
            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>