<div class="section">

    <div class="container" >

        <div class="row">

            <div class="col-md-3">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio centered" height="150" width="150" src="images/aries.jpg">
                </a>
            </div>
            <div class="col-md-3">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio centered" height="150" width="150" src="images/taurus.jpg">
                </a>
            </div>
            <div class="col-md-3">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio centered" height="150" width="150" src="images/gemini.jpg">
                </a>
            </div>
            <div class="col-md-3">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio centered" height="150" width="150" src="images/cancer.jpg">
                </a>
            </div>
            <div class="col-md-3">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio centered" height="150" width="150" src="images/leo.jpg">
                </a>
            </div>
            <div class="col-md-3">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio centered" height="150" width="150" src="images/virgo.jpg">
                </a>
            </div>
            <div class="col-md-3">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio centered" height="150" width="150" src="images/libra.jpg">
                </a>
            </div>
            <div class="col-md-3">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio centered" height="150" width="150" src="images/scorpio.jpg">
                </a>
            </div>
            <div class="col-md-3">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio centered" height="150" width="150" src="images/sagittarius.jpg">
                </a>
            </div>
            <div class="col-md-3">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio centered" height="150" width="150" src="images/aquarius.jpg">
                </a>
            </div>
            <div class="col-md-3">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio centered" height="150" width="150" src="images/pisces.jpg">
                </a>
            </div>
            <div class="col-md-3">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio centered" height="150" width="150" src="images/capricorn.jpg">
                </a>
            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>