<div class="section">

    <div class="container" >

        <div class="row">

            <div class="col-md-3">
                <div>
                <a ng-click="popover(1)">
                    <img class="img-responsive img-home-portfolio centered" style="margin-bottom: 0px;" height="150" width="150" src="images/aries.jpg">
                </a>
                </div>
                <div style="text-align: center;">Aries</div>

            </div>
            <div class="col-md-3">
                <div>
                <a ng-click="popover(2)">
                    <img class="img-responsive img-home-portfolio centered" style="margin-bottom: 0px;" height="150" width="150" src="images/taurus.jpg">
                </a>
                </div>
                <div style="text-align:center; padding-bottom:10px;">Taurus</div>

            </div>
            <div class="col-md-3">
                <div>
                <a ng-click="popover(3)">
                    <img class="img-responsive img-home-portfolio centered" style="margin-bottom: 0px;" height="150" width="150" src="images/gemini.jpg">
                </a>
                </div>
                <div style="text-align:center; padding-bottom:10px;">Gemini</div>
            </div>
            <div class="col-md-3">
                <div>
                <a ng-click="popover(4)">
                    <img class="img-responsive img-home-portfolio centered" style="margin-bottom: 0px;" height="150" width="150" src="images/cancer.jpg">
                </a>
                </div>
                <div style="text-align:center; padding-bottom:10px;">Cancer</div>

            </div>
            <div class="col-md-3">
                <div>
                <a ng-click="popover(5)">
                    <img class="img-responsive img-home-portfolio centered" style="margin-bottom: 0px;" height="150" width="150" src="images/leo.jpg">
                </a>
                </div>
                <div style="text-align:center; padding-bottom:10px;">Leo</div>
            </div>
            <div class="col-md-3">
                <div>
                <a ng-click="popover(6)">
                    <img class="img-responsive img-home-portfolio centered" style="margin-bottom: 0px;" height="150" width="150" src="images/virgo.jpg">
                </a>
                </div>
                <div style="text-align:center; padding-bottom:10px;">Virgo</div>
            </div>
            <div class="col-md-3">
                <div>
                <a ng-click="popover(7)">
                    <img class="img-responsive img-home-portfolio centered" style="margin-bottom: 0px;" height="150" width="150" src="images/libra.jpg">
                </a>
                </div>
                <div style="text-align:center; padding-bottom:10px;">Libra</div>
            </div>
            <div class="col-md-3">
                <div>
                <a ng-click="popover(8)">
                    <img class="img-responsive img-home-portfolio centered" style="margin-bottom: 0px;" height="150" width="150" src="images/scorpio.jpg">
                </a>
                </div>
                <div style="text-align:center; padding-bottom:10px;">Scorpio</div>
            </div>
            <div class="col-md-3">
                <div>
                <a ng-click="popover(9)">
                    <img class="img-responsive img-home-portfolio centered" style="margin-bottom: 0px;" height="150" width="150" src="images/sagittarius.jpg">
                </a>
                </div>
                <div style="text-align:center; padding-bottom:10px;">Sagittarius</div>
            </div>
            <div class="col-md-3">
                <div>
                <a ng-click="popover(10)">
                    <img class="img-responsive img-home-portfolio centered" style="margin-bottom: 0px;" height="150" width="150" src="images/aquarius.jpg">
                </a>
                </div>
                <div style="text-align:center; padding-bottom:10px;">Aquarius</div>
            </div>
            <div class="col-md-3">
                <div>
                <a ng-click="popover(11)">
                    <img class="img-responsive img-home-portfolio centered" style="margin-bottom: 0px;" height="150" width="150" src="images/pisces.jpg">
                </a>
                </div>
                <div style="text-align:center; padding-bottom:10px;">Pisces</div>
            </div>
            <div class="col-md-3">
                <div>
                <a ng-click="popover(12)">
                    <img class="img-responsive img-home-portfolio centered" style="margin-bottom: 0px;" height="150" width="150" src="images/capricorn.jpg">
                </a>
                </div>
                <div style="text-align:center; padding-bottom:10px;">Capricorn</div>
            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>